.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 0.85vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  padding: 1em 2em;
  appearance: none;
  border: 1px solid #61dafb;
  color: #61dafb;
  border-radius: 3px;
  background-color: #282c34;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}
.btn:hover {
  border: 1px solid #61dafb;
  color: #282c34;
  background-color: #61dafb;
}
input {
  margin: 5px 0;
  padding: 0.4em 0.5em;
  border: 1px solid #61dafb;
  border-radius: 3px;
}
label {
  display: block;
  padding: 15px 0;
  cursor: pointer;
  text-align: left;
}
label input[type="number"],
label input[type="text"] {
  float: right;
  outline: none;
}
.container {
  width: 100%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.results {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: #282c34;
  text-align: left;
  background-color: gainsboro;
  white-space: nowrap;
}
.results div {
  margin: 5px 0;
}
.results strong {
  margin-left: 10px;
  float: right;
}
.main-title {
  font-size: 1.478em;
}
